#body {
  /*background: rgba(56,12,120,.8);*/
  background: rgba(165,185,225,.6);
}

.underCanvas {
  width: 640px;
  height: 640px;
  background: url('../images/back_brown.png');
  margin: 0 auto;
  position: relative;
  top:150px;
  border-radius: 50px;
}

.canvasWrapper {
  /*background: rgba(165,185,225,.6);*/
  background: rgba(56,25,120,.8);
  text-align: center;
  width: 1640px;
  height: 840px;
  margin: 0 auto;
  border-radius: 40%;
  box-shadow: 10px 10px 10px rgba(28,6,60,1);
  position: relative;
  bottom: 590px;
}

@keyframes coins {
    from {box-shadow: 0px 0px 150px rgba(255,255,100,.7);}
    to {box-shadow: 0px 0px 20px rgba(255,255,100,.7);}
}

@keyframes damage {
    from {box-shadow: 0px 0px 150px rgba(255,100,150,.7);}
    to {box-shadow: 0px 0px 20px rgba(255,255,100,.7);}
}

@keyframes life {
    from {box-shadow: 0px 0px 250px rgba(120,255,150,.8);}
    to {box-shadow: 0px 0px 20px rgba(255,255,100,.7);}
}

#canvas {
  border: 10px solid rgba(255,255,80,.8);
  border-radius: 50px;
  margin-top: 100px;
}

.normal {
  box-shadow: 0px 0px 20px rgba(255,255,100,.7);
}

.active {
  animation-name: coins;
  animation-duration: 1s;
}

.active_damage {
  animation-name: damage;
  animation-duration: 1s;
}

.active_life {
  animation-name: life;
  animation-duration: 2s;
}

.info {
  font-size: 40px;
  position: relative;
  bottom: 600px;
}


.lives,
.time,
.points {
  display: inline-block;
  color: rgb(255,255,50);
  background: rgba(14,3,30,.4);
  padding: 0 10px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(255,255,100,.7);
}

.lives {
  position: relative;
  right: 170px;
}

.points {
  position: relative;
  left: 170px;
}
